<%-include("pageTop.ejs")%>

<title>cookies test</title>
<body>

<main>
    <center>
        <h1>your cookies is work!</h1>
    </center>
    <center>
        <h1>page 2</h1>
    <button> <a href="/test/page1" >page 1</a></button>
    </center>
</main>

<%-include("pageBottom.ejs")%>
