<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login page</title>
    <style>
        body{background-color: #c5acf9;}
    </style>
</head>
<body>

<main>
    <header>

    </header>

    <center>
        <h1>testing</h1>
    </center>


    <footer>

    </footer>

</main>






</body>

</html>