<%-include("pageTop.ejs")%>

<title>register page</title>

<body>

<main>

    <center>
        <h1>register page</h1>
        <form method="post" action="/register/Add" >
            <input type="text" name="name" placeholder="enter your name">
            <input type="text" name="userName" placeholder="enter your user name">
            <input type="email" name="email" placeholder="enter your email">
            <input type="password" name="pass" placeholder="enter your password">
            <input type="submit" >
        </form>
    </center>

</main>

<%-include("pageBottom.ejs")%>
