<%-include("pageTop.ejs")%>

<title>Registration successful</title>

<body>

<main>

    <center>
        <h1>your Registration successful!</h1>
    </center>

</main>

<%-include("pageBottom.ejs")%>
